@charset "UTF-8";
p {
  font-family: sans-serif;
  font-size: 20px;
  margin: 5px;
}

li {
  font-family: sans-serif;
  font-size: 20px;
  margin: 5px;
}

/* Imágenes responsivas */
img {
  max-width: 100%;
  height: auto;
}

/* Flex container */
.Ventas-varias {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.brand {
  box-sizing: border-box;
  padding: auto;
  text-decoration-color: #7295ba;
}

.carousel-slide {
  max-height: 100px;
  width: 50%;
  object-fit: cover;
}

#nuestros-productos {
  background-color: #417eb3;
  text-align: center;
}
#nuestros-productos h2 {
  margin: 0;
}

#nuestros-productos .container {
  padding: 100px 0px;
}
#nuestros-productos .container h3 {
  color: rgb(0, 0, 0);
}
#nuestros-productos .container p {
  color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

body {
  margin: 10px;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

header, footer, section, div, p, h1, h2, h3, h4, h5, h6 {
  margin: 10px;
}

header {
  background-color: #417eb3;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.navbar {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  flex-wrap: wrap;
}
.navbar .brand {
  font-size: 1.5em;
}

.nav-links {
  margin: 10px;
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #555;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.logoInicial {
  max-width: fit-content;
  position: relative;
  flex-wrap: wrap;
}

.carta:firts-child {
  background-color: rgb(30, 30, 30);
  background-image: linear-gradient();
}

.compra {
  display: inline-block;
  background-color: #d5d4d4;
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: 1px solid transparent;
  cursor: pointer;
}
.compra a {
  text-decoration: none;
}
.compra:hover {
  background-color: #71807f;
  transform: scale(1.05);
  text-decoration: none;
}
.compra:active {
  background-color: #187690;
  transform: scale(0.95);
}

.mas {
  display: inline-block;
  background-color: #d5d4d4;
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: 1px solid transparent;
  cursor: pointer;
}
.mas a {
  text-decoration: none;
}
.mas:hover {
  background-color: #71807f;
  transform: scale(1.05);
  text-decoration: none;
}
.mas:active {
  background-color: #187690;
  transform: scale(0.95);
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  bottom: 0;
}

#nuestros-productos .carta {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  color: white;
  margin: 10px;
  padding: 25px;
  background-position: center center;
  background-size: cover;
}
#nuestros-productos .carta h3 {
  color: white;
}
#nuestros-productos .carta p {
  display: none;
}
#nuestros-productos .carta:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/agendaAnual.webp);
}
#nuestros-productos .carta:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/agendaDocente.webp);
}
#nuestros-productos .carta:nth-child(3) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/cuadernos.webp);
}
#nuestros-productos .carta:nth-child(4) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/albumFotos.webp);
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #333;
  }
  .nav-links.active {
    display: flex;
  }
  .menu-toggle {
    display: block;
  }
  .navbar {
    justify-content: space-between;
  }
}
/* Regla de la media query */
/* mobile */
@media only screen and (max-width: 500px) {
  body {
    background-color: #f8f9fa;
  }
}
@media only screen and (min-width: 501px) and (max-width: 960px) {
  body {
    background-color: antiquewhite;
  }
}
@media only screen and (min-width: 961px) {
  body {
    background-color: #f8f9fa;
  }
}

/*# sourceMappingURL=estilos.css.map */
