.navbar {
    @include apply-margin();
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    flex-wrap: wrap;
        .brand {
            font-size: 1.5em;
        }
}


.nav-links {
    @include apply-margin();
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #555;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}


.logoInicial {
    max-width: fit-content;
    position: relative;
    flex-wrap: wrap;
}



.carta:firts-child {
    background-color: rgb(30, 30, 30);
    background-image: linear-gradient();
}


@import "../../scss/utilities/variables";
@import "../../scss/utilities/mixin";


// Botón .compra
.compra {
  @include button-styles(#d5d4d4, #71807f, #187690);
}

// Botón .ver-mas
.mas {
  @include button-styles(#d5d4d4, #71807f, #187690);
}
