.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    flex-wrap: wrap;
}

.navbar .brand {
    font-size: 1.5em;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #555;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}


.logoInicial {
    max-width: fit-content;
    position: relative;
    flex-wrap: wrap;
}

/* boton */
.compra {
    display: inline-block;
    background-color: #d5d4d4 color (white);
    padding: 10px 15px;
    font-size: 14px;
    /* Tamaño de la fuente */
    font-weight: bold;
    /* Peso de la fuente */
    text-align: center;
    /* Alineación del texto */
    text-decoration: none;
    /* Sin subrayado */
    border-radius: 5px;
    /* Bordes redondeados */
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Transiciones suaves */
    border: 1px;
    cursor: pointer;
    /* Cursor de mano al pasar sobre el botón */
}

.compra:hover {
    background-color: #71807f;
    /* Color de fondo al pasar el mouse */
    transform: scale(1.05);
    /* Escala el botón al pasar el mouse */
}

.compra:active {
    background-color: #187690;
    /* Color de fondo al hacer clic */
    transform: scale(0.95);
    /* Escala el botón al hacer clic */
}