p {
    font-family: sans-serif;
    font-size: 20px;
    margin: 5px;
}

/* Imágenes responsivas */
img {
    max-width: 100%;
    height: auto;
}

/* Flex container */
.Ventas-varias {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.brand {
    box-sizing: border-box;
    padding: auto;
    text-decoration-color: #7295ba;
}