$color-fondo-principal: #417eb3;
p {
    font-family: sans-serif;
    font-size: 20px;
    margin: 5px;
}
li {
    font-family: sans-serif;
    font-size: 20px;
    margin: 5px;
}
/* Imágenes responsivas */
img {
    max-width: 100%;
    height: auto;
}

/* Flex container */
.Ventas-varias {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.brand {
    box-sizing: border-box;
    padding: auto;
    text-decoration-color: #7295ba;
}

.carousel-slide {
    max-height: 100px; 
    width: 50%;
    object-fit: cover;
}


#nuestros-productos {
    background-color: $color-fondo-principal;
    text-align: center;
        h2 {
            margin: 0
            ;
        }
}
#nuestros-productos .container {
            h3 {
                color: rgb(0, 0, 0);
            }
            p { 
                color: rgb(255, 255, 255);
            } 
            padding: 100px 0px;   


}


@import "../../scss/utilities/variables";
@import "../../scss/utilities/mixin";

// Estilos globales para todos los elementos
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}


// Aplicar el margen global al body
body {
  @include apply-margin();
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

// Estilos adicionales para elem comunes
header, footer, section, div, p, h1, h2, h3, h4, h5, h6 {
  @include apply-margin();
}
